/* General body and reset */
body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
}

/* Sidebar styling */
.sidebar {
    background-color: #f9f4ef;
    padding: 0;
}
.sidebar-logo {
    padding: 40px 20px;
}
.sidebar-logo img {
    max-width: 100%;
    margin-bottom: 40px;
}
.sidebar .navbar-nav {
    padding: 0;
    text-align: right;
}
.sidebar .navbar-nav li {
    padding: 15px 0;
}

.navbar-nav {
    padding: 0 !important;
}

.nav-link {
    font-size: 25px;
    color: #000;
    text-align: right;
    padding: 17px 30px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.nav-link.active,
.nav-link:hover {
    background-color: #d48b63;
    color: #fff;
}

/* Main content styling */
main {
    padding: 40px 20px;
    background-color: #fff;
}
main h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}
main p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* About Section */
.about-section {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
}
.image-container {
    position: relative;
    margin-bottom: 30px;
}
.image-container img {
    max-width: 100%;
    border-radius: 15px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.image-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    padding: 20px 30px;
}
.image-backdrop h2 {
    color: #fff;
    font-size: 1.75rem;
    text-align: right;
}

/* Vision and Mission Section */
.vision-mission-section {
    background-color: #fff;
    padding: 20px 0;
}
.vision-mission-section h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}
.vision-mission-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
}
.icon-holder {
    padding: 20px;
    background: #f2e8da;
    border-radius: 20px;
    width: fit-content;
}
.vision-mission-section i {
    color: #d48b63 !important;
}

/* Testimonial Section */
.testimonial-section {
    background-color: #fff;
    padding: 20px 0;
    margin: 0 -24px;
}
.testimonial-section h2 {
    font-size: 1.75rem;
    color: #333;
}
.testimonial-card {
    border: 1px solid #d48b63;
    border-radius: 15px;
    background-color: #fcfaf7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.testimonial-card p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin: 0;
}

/* Treatments Section */
.treatments-section {
    padding: 20px 0;
    background-color: #fff;
}
.treatments-section h2 {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 20px;
}
.image-container {
    position: relative;
}
.image-container img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.overlay-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f9f4ef;
    padding: 10px 20px;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.treatment-icon a {
    background-color: #d48b63;
    color: #fff;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: background-color 0.3s;
    width: 60px;
}
.treatment-icon a:hover {
    background-color: #c37950;
}
.treatment-text p {
    font-size: 1.2rem;
    color: #333;
    text-align: right;
    margin-bottom: 0;
}

/* Why Us Section */
.why-us-section {
    background-color: #fff;
    padding: 20px 0;
}
.why-us-section h2 {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 20px;
}
.service-card {
    background-color: #f2e8da;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}
.service-card .icon-holder {
    background: #e3a879;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.service-icon {
    font-size: 3rem;
    color: #f2e8da;
}
.service-text {
    font-size: 1rem;
    color: #333;
}

/* Gallery Section */
.gallery-section {
    background-color: #fff;
    padding: 20px 0;
}
.gallery-section h2 {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 20px;
}
.gallery-section .image-container {
    position: relative;
}
.gallery-section .image-container img {
    width: 100%;
    border-radius: 15px;
}
.gallery-section .btn-icon {
    background-color: #d48b63;
    color: #fff;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: background-color 0.3s;
    width: 60px;
}
.gallery-section .btn-icon i {
    transform: rotate(-45deg);
}

/* Team Section */
.team-section {
    background-color: #fff;
    padding: 20px 0;
}
.team-section h2 {
    font-size: 2rem;
    color: #000;
    text-align: right;
}
.team-section h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333 !important;
    text-align: right;
}
.team-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    text-align: right;
}

/* Medical Treatments Section */
.medical-treatments-section {
    background-color: #fff;
    padding: 20px 0;
}
.medical-treatments-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
    text-align: right;
}
.medical-treatment-card {
    background-color: #f9f4ef;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}
.medical-treatment-card img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.medical-treatment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f4ef;
    padding: 15px;
    border-radius: 0 0 15px 15px;
}
.medical-treatment-name {
    font-size: 1.2rem;
    color: #5a5a5a;
}
.btn-medical-icon {
    background-color: #d48b63;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s;
}
.btn-medical-icon:hover {
    background-color: #bf7148;
}
.btn-medical-icon i {
    font-size: 1.2rem;
}

.collapse:not(.show) {
    display: block !important;
}

.navbar-toggler {
    display: none;
}

#side-menu {
    text-align: right;
}

#side-menu .close {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 25px;
    line-height: normal;
}



/* Responsive Styling */
@media (max-width: 768px) {
    .nav-link {
        font-size: 16px;
    }
    main {
        padding: 20px;
    }
    .about-section h2,
    .testimonial-section h2,
    .vision-mission-section h3 {
        font-size: 1.5rem;
    }
    .about-section p,
    .testimonial-card p,
    .vision-mission-section p {
        font-size: 1rem;
    }
    .vision-mission-section i {
        font-size: 2.5rem;
    }
    .medical-treatment-card {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .collapse:not(.show), .navbar-collapse {
        display: none !important;
    }
    .navbar-toggler {
        display: block;
        margin-left: 30px;
    }
}